  <ion-content class="has-header has-subheader view-content">
    <div class="row " ng-hide="userRootCabinet.length">
      <div id="folderName" class="col">
        <div class="col-box">
            <p class="large-icon">
              <i class="icon ion-upload"></i>
            </p>
            <p style="text-align: center"> No uploaded files here.</p>
          <button class="button button-positive button-block button-small icon ion-plus"  flow-btn>
            Choose Files
          </button>
        </div>
      </div>
    </div>
      <div class="list list-inset" ng-show="userRootCabinet.length">

          <a class="item item-avatar u-l-i" href="#" ng-repeat="f in userRootCabinet">
            <img ng-src="{{f.filename | fileicon}}" img-cache>
            <h2>{{::f.filename}}</h2>
            <p>
              {{::f.size | formatFileSize}}
              <span style="font-size: 11px;color: rgb(78, 164, 191);">{{f.completedDate | moment}}</span>
            </p>
          </a>

      </div>
  </ion-content>
