  <ion-content class="has-header has-subheader view-content">
    <div class="list list-inset" ng-show="$flow.files.length > 0">
      <div upload-list-item ng-repeat="eachFile in $flow.files">

      </div>
    </div>

    <div class="row " ng-show="$flow.files.length == 0">
      <div id="folderName" class="col">
        <div class="col-box">
          <p style="text-align: center"> No files on your upload queue here.</p>
          <button class="button button-positive button-block button-small icon ion-plus"  ng-click="open_chooser()" flow-btn>
            Choose Files
          </button>
        </div>
      </div>
    </div>
  </ion-content>
