<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ixit.mobile" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IXIT</name>
    <description>
        Upload and share files. Phone Media and Document Backup.
        All very easy.
    </description>
    <author email="koded@i-x.it" href="http://about.i-x.it">
        Michael "Koded" Rhema
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
    <preference name="SplashScreen" value="spl" />
    <preference name="SplashScreenDelay" value="100000" />


    <access origin="*" />
    <icon src="res/icon/icon.png" />
    <platform name="android">
        <icon src="res/icon/android/icon-36-ldpi.png"  density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png"  density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png"  density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />

    </platform>
    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/screen/android/spl-hdpi-landscape.png" density="land-hdpi"/>
        <splash src="res/screen/android/spl-ldpi-landscape.png" density="land-ldpi"/>
        <splash src="res/screen/android/spl-mdpi-landscape.png" density="land-mdpi"/>
        <splash src="res/screen/android/spl-xhdpi-landscape.png" density="land-xhdpi"/>

        <splash src="res/screen/android/spl-hdpi-portrait.png" density="port-hdpi"/>
        <splash src="res/screen/android/spl-ldpi-portrait.png" density="port-ldpi"/>
        <splash src="res/screen/android/spl-mdpi-portrait.png" density="port-mdpi"/>
        <splash src="res/screen/android/spl-xhdpi-portrait.png" density="port-xhdpi"/>
    </platform>
</widget>
