<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.ixit.filenamequery"
      version="1.0.0">
    <name>IXITFileNameQuery</name>
    <description>Filename Query for IXIT</description>
    <license>MIT</license>
    <keywords>cordova,filenamequery</keywords>

    <js-module src="www/filenamequery.js" name="IXITFileNameQuery">
        <clobbers target="IXITFileNameQuery" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IXITFileNameQuery" >
                <param name="android-package" value="com.ixit.filenamequery.IXITFileNameQuery"/>
            </feature>
        </config-file>
        <source-file src="src/android/filechooser/FileUtils.java" target-dir="src/com/ipaulpro/afilechooser/utils" />

        <source-file src="src/android/IXITFileNameQuery.java" target-dir="src/com/ixit/filenamequery" />
    </platform>
</plugin>
