/* Empty. Add your own CSS if you like */
/*body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}*/
.col-box {
  width: 260px;
  margin: 0 auto;
}
.icon-box {
padding: 10px;
background-color: white;
border-radius: 3px;
border: solid 1px #B1AFAF;
}

.ex-bar {
  margin-bottom: 5px;
}

.meter {
  width: 100%;
  display: block;
  height: 5px;
  background-color: #DFD8DB;
  margin-top: 5px;
}

.meter span {
width: 50%;
height: 100%;
display: block;
background: #3AC0FF;
}

.pre-item {
  float: left;
  width: 100% ;
}

.upload-props span{
border-right: solid 1px #ddd;
padding: 2px 1px;
min-width: 50%;
display: inline-block;
align-items: center;
}

.post-item {
  float: right;
  width: 100%;
}
.info-file-size {
  /*float: right;*/
}
.queue-file-type-icon {
  width: 30px;
}
.splash-doc {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.splash-doc-p {
  background-image: url('../img/ixit-splash.jpg');
}
.splash-doc-l {
  background-image: url('../img/ixit-splash-landscape.jpg');
}
.splash-actions {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -77px;
}
.button-150 {
  width: 150px;
}
.post-item .icon {
  left: 0;
  position: relative;
}
.actbtns, .actstats {
  float: left;
  width: 50%
}
.actbtns .icon{
  font-size: 11px
}
.actstats .icon{
  font-size: 20px;
  float: left;
  color: #A7A7A7;
}
.actstats span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
}
.u-l-i-l {
  padding-bottom: 0;
  border-bottom: solid 2px rgba(67, 67, 67, 0.5);
}
.u-l-i- {
  padding-bottom: 0;
  border-bottom: solid 2px #434343;
}
.slider { height: 100%; text-align: center }
.scroll { height: 100% }

.has-header.has-subheader.has-tabs-top {
  top: 92px;
}

.rounded-profile-thumb {
  border: solid 1px #ddd;
  background-color: white;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  font-size: 13em;
}
.account-popup .popup-body{
  padding: 3px;
}
.account-popup .item-input{
  padding: 3px;
border: none;
border-bottom: solid 1px #E0E0E0;
}
.account-popup .popup input{
  background-color: transparent;
  padding: 5px;
}
.account-popup .popup input:focus{
background-color: rgba(240, 184, 64, 0.51);
color: black;
}
.account-popup .popup-head{
background-color: #F0B840;
border-radius: 10px 10px 0 0;
}
.account-popup .popup-head h1{
   color: white;
}
.account-popup .popup{
  width: 300px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;

}
.yellow-font {
  color: #F0B840 !important;
}
.file-upload-status-icon {
  position: relative;
  right: -90%;
  top: -9px;
  display: flex;
  z-index: 100;
}
.file-upload-status-icon i.icon {
  font-size: 20px;
}

.file-upload-status-icon i.ion-checkmark-circled {
  color: #00e544;
}
.file-upload-status-icon i.ion-android-alert{
  color: red;
}
.more-file-options {
position: absolute;
width: 100%;
left: 0;
background-color: grey;
border-top: solid 1px #595656;
}
.expanded-item {
  height: 111px;
}
@media (min-width: 768px) {
  .menu-content {
     -webkit-transform: translate3d(270px, 0px, 0px) !important;
     width: ~"calc(100% - 270px)" !important;
  }

  .menu {
      z-index: 2 !important;
      box-shadow: -1px 0 2px rgba(0,0,0,.2),1px 0 2px rgba(0,0,0,.2);
   }

  .bar-header button.ion-navicon {
      display: none;
   }
}
